@import url("https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner&family=Lora&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lora", serif, sans-serif;
}

:root {
  --primary-color: #222831;
  --secondary-color: #393e46;
  --tertiary-one: #00adb5;
  --tertiary-two: #eeeeee;
}

body {
  background-color: var(--primary-color);
  min-height: 100vh;
  font-size: 16px;
}

.site-container {
  display: grid;
  grid-template-rows: 150px 1fr auto;
  grid-template-columns: 1fr;
  min-height: inherit;
}

header {
  display: flex;
  flex-direction: column;
  background-color: var(--tertiary-two);
  color: var(--secondary-color);
  text-align: center;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

header button {
  padding: 0.5rem 3rem;
  color: var(--secondary-color);
  background-color: var(--tertiary-two);
  border: 1px solid var(--secondary-color);
  border-radius: 2px;
}

header button:hover {
  background-color: var(--tertiary-one);
}

dialog[open] {
  margin: auto;
  padding: 2rem;
  border: 3px solid var(--primary-color);
  background-color: var(--tertiary-two);
}

dialog[open]::backdrop {
  background: rgba(0, 0, 0, 0.5);
}

form > input,
form > label {
  display: block;
  text-align: left;
}

form > input {
  height: 2rem;
  padding-left: 3px;
  margin-bottom: 20px;
  border-radius: 5px;
}

form label {
  font-size: 1.5rem;
}

form > button {
  display: block;
  margin: auto;
  width: 100%;
}

#formSubmit {
  margin-bottom: 10px;
}

.form-checkbox {
  display: flex;
  align-items: center;
  gap: 3px;
  margin-bottom: 20px;
}

.has-read,
input[type="checkbox"] {
  display: inline-flex;
  text-align: left;
}
.form-checkbox > input[type="checkbox"] {
  height: 17px;
  width: 20px;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  padding: 5rem;
  gap: 2rem;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  background-color: var(--tertiary-two);
  border-radius: 25px;
  padding: 1.5rem;
  max-height: 300px;
}

.card img {
  width: 20px;
  height: 20px;
}

footer {
  background-color: var(--tertiary-two);
  color: var(--secondary-color);
  text-align: center;
  padding: 1rem 0;
}
